<h1 class="page-title" align="center">Listing all articles</h1>
<div class="pagination page-title">
    <%= will_paginate %>
</div>    
<%= render 'article', obj: @articles %>
<div class="pagination page-title">
    <%= will_paginate %>
</div> 